@import 'tailwindcss';


.page{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

h1 {
    font-weight: bold;
}

.reset{
    color: red;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.square{
    /* class="h-16 w-16 border border-black" */
    height: 64px;
    width: 64px;
    border-color: black;
    border-width: 1px;
}
